/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* COMMON */
body{
    font-family: 'Roboto', sans-serif;

  
}
.container-row{
    max-width: 1200px;
    display: flex;
    margin: 5px 100px 5px 100px  ;

    
}
.col-1,.col-2,.col-3{
    margin: 20px;
    
    
    
}
article{
   
}


/* HEADER */
header{
    background-color: #FF6900;
    padding: 16px;
    width: 100%;
    height: 10%;
    position: static;
} 
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: static;
}
.genere{
    width: 33%;
    
    color:white
}   
.logo{
    width: 150px;
    width: 33%;
}
.logo-img{
   width: 10%;
}
.icone{
    display: flex;
    width: 33%;
    justify-content: flex-end;
}
i{
    color: white;
    font-weight: 10%;
    padding: 5px;
    
}
/* MAIN */
section{
    display: flex;
  
}
.imm{
   width: 300px;
   height:400px ;
   display: block;
}
.imm-hover{
    display: none;
   }
.col-1:hover.imm-hover{
    display: block;
}
.col-1:hover.imm{
    display: none;
}
   



/* FOOTER */